body {
    background-color: #f3f4f6; /* uni-bg */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
.hero-background {
    background-image: linear-gradient(to bottom right, var(--tw-color-uni-blue), var(--tw-color-uni-light));
}