body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

input.form-control{
  border-radius: 5px;
  height: 150%;
}

input.btn-outline-success{
  border-radius: 5px;
}

/* Card */
.card {
  display: flex;
  align-items: center;
  background-color: #690404;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 15px 0;
  color: white;
  width: 280px;
}

.card img {
  width: 80px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 15px;
}

.card-info {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.6;
}

.footer {
  position: fixed;
  bottom: 20px; /* distância do fundo, pode ser 0 se quiser colado mesmo */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}


.footer button {
  background-color: #242222;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.footer .center-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 24px;
}
.input-group-text {
  left: 90%;
}